
<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="menu-spacer"></span>
      <div>
       <a mat-button [routerLink]="'/home'" routerLinkActive="active"> Blogs </a>
        <a mat-button [routerLink]="'/about'" routerLinkActive="active">  About </a>
        <a mat-button [routerLink]="'/profile'" *ngIf="isLoggedIn" routerLinkActive="active"> Profile </a>&nbsp; &nbsp;
     </div>
     <span class="example-spacer"></span>

     <div *ngIf="!isLoggedIn">
        <button mat-raised-button (click)="login()">LOGIN/SIGNUP</button>
    </div>

    <div *ngIf="isLoggedIn">
      <button mat-raised-button (click)="logout()" >LOGOUT</button>
  </div>

    </mat-toolbar-row>

    
  </mat-toolbar> 
  


<router-outlet></router-outlet>
