<app-navbar></app-navbar>
<br>


<mat-card class="myBlogs">
    <mat-card-header>
        <mat-card-title style="color: blue;">
             &nbsp; <i class="fa fa-th-large" aria-hidden="true" style="font-weight: 300;"> MY BLOGS</i>
       </mat-card-title>
    </mat-card-header>
</mat-card>

<!-- // profile pic -->
<div style="margin-right: 50px; float: right; width: 20%; height: 50px;">
    <mat-card >
        <mat-card-header>
            <mat-card-title>Johhny Baba</mat-card-title>
            <mat-card-subtitle>
                <a href="#" style="color: blue;"><i class="fa fa-upload" aria-hidden="true" > &nbsp; Edit Bio/Image </i></a>
            </mat-card-subtitle>
          </mat-card-header>
          <img src="assets/shiba2.jpg"  style="width: 90%; height: 40%;">

          <!-- <img mat-card-image src="../../../../server/uploads/shiba2.jpg"> -->
          <br>
        <mat-card-content>
            <strong><p>Bio :</p></strong>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
    </mat-card>
</div>

<br>
<app-bloglist [allBlogs]="allBlogs" [componentName]="componentName"></app-bloglist>


