<!-- <button mat-button color="primary" (click)="loaderTest()">Test API</button> -->


<app-navbar></app-navbar>
<mat-card style="width: 40%; margin-top: 10%; margin-left: 7%;">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <p>
            <mat-form-field style="width: 70%;">
            <input type="email" matInput placeholder="email" formControlName="email" >
            </mat-form-field>
        </p>

        <p>
            <mat-form-field style="width: 70%;">
            <input type="password" matInput placeholder="Password" formControlName="password">
            </mat-form-field>
        </p>

        <button mat-button color="primary" type="submit" 
          style="background-color: blueviolet; color: whitesmoke;"> LOGIN
        </button>

       &nbsp;&nbsp; <span><a [routerLink]="'/signup'"> New user ? Sign Up ! </a></span>
        </form>
    </mat-card-content>
</mat-card>